@import "../../../sass/Helper/mixin";
@import "../../../sass/Helper/variables";
.card_movie {
  padding-top: 50px;
  .pagination::ng-deep {
    justify-content: center;
    margin-top: 20px;
    .ngx-pagination {
      padding: 0px !important;
    }
  }
  .row {
    justify-content: center;
  }
  a.disabled {
    pointer-events: all;
    cursor: default;
  }
  nav {
    li {
      cursor: pointer;
    }

    li.active {
      .page-link {
        background-color: #343a40 !important;
        border-color: #343a40 !important;
        color: rgb(255, 255, 255);
      }
    }
    a:hover {
      text-decoration: none;
    }
    a.disabled {
      cursor: context-menu;
      color: darkgrey;
      background-color: #bababa !important;
      border-color: #bababa !important;
      &:hover {
        background-color: white !important;
      }
    }
    .page-link {
      color: #343a40;
      &:focus {
        box-shadow: none;
      }
    }
  }
}
@include responsive("medium") {
  .card_movie {
    ul {
      li {
        a {
          padding: 0.3rem 0.55rem;
        }
      }
    }
  }
}
