<div class="card_movie container">
    <div class="row">
        <div class="col-sm-4 col-md-3 col-lg-3 col-xl-3" *ngFor="let film of listMovie">
            <div>
                <app-card-movie [movie]="film"></app-card-movie>
            </div>

        </div>
    </div>

    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item pre"><a class="page-link" (click)="checkPre($event)" (click)="navigateToPrev()"
                    [ngClass]="{'disabled': selectedIndex===1}">Previous</a></li>

            <li *ngFor="let p of totalPageArr" (click)="setIndex(p)" [class.active]="selectedIndex === p"
                class="page-item page">
                <a class="page-link" (click)="navigateTo(p)">{{p}}</a>
            </li>

            <li class="page-item next"><a class="page-link" (click)="checkNext($event)" (click)="navigateToNext()"
                    [ngClass]="{'disabled': selectedIndex===totalPage}">Next</a></li>
        </ul>
    </nav>
</div>