<!-- <app-card-movie [movieList] = "listMovie"></app-card-movie> -->
<div class="card_movie container">
    <div class="row">
        <div class="col-sm-3" *ngFor="let film of listMovie">
            <div>
                <app-card-movie [movie]="film"></app-card-movie>
            </div>

        </div>
    </div>
    <!-- 
    <div class="pagination">
        <pagination-controls (pageChange)="pageChanged(p=$event)" responsive="true">
        </pagination-controls>
    </div> -->


    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item pre"><a [class.disabled]="disabled ? true: null" (click)="checkPre($event)" class="page-link" href="client/movies/Page/{{p*1 - 1}}">Previous</a></li>
            <li class="page-item page mx-4"><a href="client/movies/Page/{{p}}">{{p}}/{{totalPage}}</a>
            </li>
            <li class="page-item next"><a [class.disabled]="disabled ? true: null" (click)="checkNext($event)" href="client/movies/Page/{{p*1 + 1}}" class="page-link">Next</a></li>
        </ul>
    </nav>
</div>