<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-body">
            <div class="form-group">
                <span class="form_cpn">Nhập mật khẩu hiện tại:</span>
                <input class="form-control" type="password" name="curPass" ngModel required />
            </div>
            <div class="form-group">
                <span class="form_cpn">Nhập mật khẩu mới:</span>
                <input class="form-control" type="password" name="matKhau" ngModel required />
            </div>
            <div class="form-group">
                <span class="form_cpn">Nhập lại mật khẩu mới:</span>
                <input class="form-control" type="password" name="newPass" ngModel required />
            </div>
            <button type="submit" class="btn btn-primary mr-2">Cập nhật</button>
            <button type="submit" class="btn btn-secondary" data-dismiss="modal">Thoát</button>
        </div>
    </div>