<div class="home" id="home">
  <div #carouselSlide class="Carousel" id="Carousel">
    <owl-carousel-o style="height:80%" [options]="customOptions">
      <ng-template class="fade" carouselSlide><div class="fade_bg"><img width="1280px" height="550px" src="../../../assets/images/banner1.png"></div></ng-template>  
      <ng-template class="fade" carouselSlide><div class="fade_bg"><img width="1280px" height="550px" src="../../../assets/images/banner2.png"></div></ng-template>  
      <ng-template class="fade" carouselSlide><div class="fade_bg"><img width="1280px" height="550px" src="../../../assets/images/banner3.png"></div></ng-template>  
    </owl-carousel-o>
    <div class="bg-fade">
    </div>
  </div>
  <div class="list_movie" id="list_movie">
    <div class="title text-center"><h1>Danh sách phim</h1></div>
    <div class="list_movie_home">
      <div class="card_movie container">
        <div class="row">
          <div class="col-sm-3" *ngFor="let film of listMovie.slice(0,8)">
            <app-card-movie [movie]="film"></app-card-movie>
          </div>

        </div>
      </div>
    </div>
    <div class="more_movie">
      <button type="button" (click)="navigateTo()" class="btn more mt-4">Xem thêm...<span><i class="bi bi-caret-right-fill"></i></span></button>
    </div>
    <div class="cinema  mt-5" id="cinema">
        <app-cinemas></app-cinemas>
  </div>
</div>
<div class="spinner" id="spinner">
  <div class="loader">
  <p class="text-center text-white">Đang tải</p>
      <div class="inner one"></div>
      <div class="inner two"></div>
      <div class="inner three"></div>
  </div>
</div>
