.home {
  .Carousel {
    // display: none;
    .fade_bg {
      position: relative;
      img{
        width: 100%;
        height: auto;
        object-fit: cover;
      }
      &::before {
        background: linear-gradient(
          0deg,
          #000000ba 0%,
          rgb(75 75 75 / 0%) 100%
        );
        content: "";
        display: block;
        height: 100%;
        position: absolute;
        width: 100%;
        z-index: 10;
      }
    }
  }
  .list_movie {
  display: none;
    .title {
      padding: 50px;
      color: #cbafaf;
      background-image: linear-gradient(black, #ffffff00);
      h1 {
        font-size: 37px;
        cursor: context-menu;
        font-family: 'Roboto', sans-serif!important;
      }
    }
    .more {
      display: flex;
      margin: auto;
    }
  }
  .cinema{
    display: none;
    background-color: #343a40bd!important;
    margin-bottom: 20px;
  }
}
