@import "../../../sass/Base/customize";
@import "../../../sass/Base/reset";
@import "../../../sass/Helper/mixin";
@import "../../../sass/Helper/variables";
.home {
  .Carousel {
    // display: none;
    .fade_bg {
      position: relative;
      img {
        width: 100%;
        height: auto;
        object-fit: cover;
      }
      &::before {
        background: linear-gradient(
          0deg,
          #000000ba 0%,
          rgb(75 75 75 / 0%) 100%
        );
        content: "";
        display: block;
        height: 100%;
        position: absolute;
        width: 100%;
        z-index: 10;
      }
    }
  }
  .list_movie {
    display: none;
    .title {
      padding: 50px;
      color: #cbafaf;
      background-image: linear-gradient(black, #ffffff00);
      h1 {
        font-size: 37px;
        cursor: context-menu;
        font-family: "Roboto", sans-serif !important;
        margin-bottom: 0;
      }
    }
    .more {
      display: flex;
      margin: auto;
      color: #bcd4d4;
      animation: MoveUpDown 1.5s linear infinite;
      transition: all 0.5s;
      span {
        margin-top: 1px;
      }
      &:hover {
        color: #ffffff;
      }
    }
  }
  .cinema {
    width: 90%;
    margin: auto;
    display: none;
    background-color: #343a40bd !important;
    margin-bottom: 20px;
  }
}
@include responsive("large") {
  .home {
    .list_movie {
      .title {
        padding: 42px;
        h1 {
          font-size: 28px;
        }
      }
      .more {
        font-size: 14px;
      }
    }
  }
}
@include responsive("medium") {
  .home {
    .list_movie {
      .title {
        padding: 35px !important;
        h1 {
          font-size: 25px !important;
        }
      }
    }
  }
}
@include responsive("small") {
  .home {
    .cinema {
      width: 100%;

    }
  }
}

@keyframes MoveUpDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
