@import "../../../sass/Base/customize";
@import "../../../sass/Base/reset";
@import "../../../sass/Helper/mixin";
@import "../../../sass/Helper/variables";
.detailMovie {
  color: white;
  cursor: context-menu;
  .content {
    display: none;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      width: 98%;
      background-color: #2e2d2d;
      top: 16%;
      bottom: 0;
      z-index: 1;
    }
  }

  .detail_movie {
    width: 200px;
    height: 300px;
    object-fit: cover;
  }
  .row {
    width: 100%;
  }
  .detail {
    height: 400px;
    position: relative;
    z-index: 10;
    .info {
      position: absolute;
      top: 18%;
      width: 100%;
      .image_movie {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        z-index: 20;
      }
      .info_text {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        .line {
          background: #8b8b8b;
          height: 2px;
          margin: 20px 0;
        }
        .text {
          color: #9d9d9d;
        }
        .date {
          color: #999999;
          font-weight: 500;
          font-size: 15px;
          padding-top: 30px;
        }
        .name {
          font-size: 27px;
          color: white;
        }
        .point {
          .flex-wrapper {
            display: flex;
            flex-flow: row nowrap;
          }

          .single-chart {
            width: 38%;
            justify-content: space-around;
            padding-top: 20px;
          }

          .circular-chart {
            display: block;
            margin: 10px auto;
            max-width: 80%;
            max-height: 250px;
          }

          .circle-bg {
            fill: none;
            stroke: #eee;
            stroke-width: 3.8;
          }

          .circle {
            fill: none;
            stroke-width: 2.8;
            stroke-linecap: round;
            animation: progress 1s ease-out forwards;
          }
        }
      }
    }
  }
  .overview {
    position: relative;
    z-index: 10;
    padding-top: 20px;
    width: 50%;
    margin: 0 auto;
    iframe {
      height: 290px;
    }
  }
  .spinner {
    height: 98vh;
    // height: 100%;
    width: 100%;
  }
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.circular-chart.orange .circle {
  stroke: #ff9f00;
}

.circular-chart.green .circle {
  stroke: #4cc790;
}

.circular-chart.blue .circle {
  stroke: #3c9ee5;
}

.percentage {
  fill: #666;
  font-family: sans-serif;
  font-size: 0.5em;
  text-anchor: middle;
}

@include responsive("large") {
  .detailMovie {
    .content {
      &::before {
        top: 12%;
      }
      .overview {
        width: 50%;
        margin: 0 auto;
        iframe {
          height: 200px;
          width: 388px;
        }
      }
    }
    .detail {
      height: 310px;
      .info {
        .info_text {
          .date {
            font-size: 14px;
          }
          .name {
            font-size: 25px;
          }
          .line {
            margin: 12px 0;
          }
          .title {
            font-size: 15px;
          }
        }
      }
      .detail_movie {
        width: 142px;
        height: 210px;
      }
    }
  }
}
@include responsive("medium") {
  .detailMovie {
    .content {
      max-width: 600px;
      &::before {
        width: 95%;
      }
      .overview {
        width: 50%;
        margin: 0 auto;
        iframe {
          height: 185px;
          width: 315px;
        }
      }
    }
    .detail {
      height: 310px;
      .info {
        .image_movie {
          padding-right: 0;
        }
        .info_text {
          .date {
            font-size: 12px;
          }
          .name {
            font-size: 20px;
          }
          .line {
            margin: 10px 0;
          }
          .title {
            font-size: 14px;
          }
        }
      }
      .detail_movie {
        width: 127px;
        height: 190px;
      }
    }
  }
}
@include responsive("small") {
  .detailMovie {
    .content {
      &::before {
        width: 100%;
        left: 0;
      }
      .overview {
        width: 34%;
        iframe {
          height: 150px;
          width: 270px;
        }
      }
    }
    .detail {
      height: 280px;
      .info {
        .image_movie {
          padding-right: 0;
        }
        .info_text {
          line-height: 15px;

          .date {
            font-size: 11px;
          }
          .name {
            font-size: 18px;
          }
          .line {
            margin: 10px 0;
          }
          .title {
            font-size: 13px;
            h3{
            font-size: 13px;
              margin-bottom: 0;
            }
          }
          .text{
            font-size: 12px;
          }
        }
      }
      .detail_movie {
        width: 127px;
        height: 190px;
      }
    }
  }
}
@include responsive("mobile") {
  .detailMovie {
    .content {
      .overview {
        iframe {
          height: 140px;
          width: 180px;
        }
      }
    }
    .detail {
      height: 320px;
      .info {
        .image_movie {
          padding-right: 0;
        }
        .info_text {
          line-height: 15px;

          .date {
            font-size: 11px;
          }
          .name {
            font-size: 18px;
          }
          .line {
            margin: 10px 0;
          }
          .title {
            font-size: 13px;
            h3{
            font-size: 13px;
              margin-bottom: 0;
            }
          }
          .text{
            font-size: 12px;
          }
        }
      }
      .detail_movie {
        width: 127px;
        height: 190px;
      }
    }
  }
}
