<div class="detailMovie">
  <div class="content container" id="content">

    <div class="detail">
      <div class="info">
        <div class="row">
          <div class=" image_movie col-4 col-sm-3">
            <div class="img">
              <img class="detail_movie" [src]="detailMovie?.hinhAnh">
              <a class="icon">
                <img class="img_playVideo" src="assets/images/play-video.png" style="width: 50px ; height: 50px;"
                  type="button" data-toggle="modal" data-target="#myModal">
              </a>
            </div>
          </div>
          <div class="info_text col-8 col-sm-9">
            <div class="info_text_movie">
              <div class="row">
                <div class="col-7 col-sm-8 text">
                  <div class="date">
                    <p>{{detailMovie?.ngayKhoiChieu | date:'dd/MM/yyyy'}}</p>
                  </div>
                  <div class="name">
                    <p>{{detailMovie?.tenPhim}}</p>
                  </div>
                  <div class="digital">
                    <p>120 phút - 0 IMDb - 2D/Digital</p>
                  </div>
                </div>
                <div class="col-5 col-sm-4 point">
                  <div class="single-chart">
                    <svg viewBox="0 0 36 36" class="circular-chart orange">
                      <path class="circle-bg" d="M18 2.0845
                                              a 15.9155 15.9155 0 0 1 0 31.831
                                              a 15.9155 15.9155 0 0 1 0 -31.831" />
                      <path class="circle" stroke-dasharray="{point}, 100" d="M18 2.0845
                                              a 15.9155 15.9155 0 0 1 0 31.831
                                              a 15.9155 15.9155 0 0 1 0 -31.831" />
                      <text x="18" y="20.35" class="percentage">{{point}}</text>
                    </svg>
                  </div>
                  <h3>66 người đánh giá</h3>
                </div>

              </div>
            </div>
            <div class="line"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="contentbot">
      <div class="row">
        <div class="col-12 text-center action ">
          <a class=" link mr-4" (click)="chooseAction('LichChieu')">Lịch chiếu</a>
          <a class=" link mr-4" (click)="chooseAction('ThongTin')">Thông tin</a>
        </div>
      </div>
      <div class="row movies" [ngSwitch]="loaiAction">
        <div class="col-12" *ngSwitchCase="'LichChieu'">
          <div class="cinema row">
            <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 cinema_Info">
              <ul>
                <li *ngFor="let cinema of heThongRap; let i = index" class="logo" [class.active]="selectedIndex === i"
                  (click)="setIndex(i)">
                  <a (click)="layThongTinRap(cinema.maHeThongRap)"><img [src]="cinema.logo" width="50px"
                      height="50px"></a>
                </li>
              </ul>
            </div>
            <div class="content_showtimes col-9 ml-3">
              <ul class="nav d-flex">
                <li class="nav-item" *ngFor="let day of dayOnWeek" (click)="getIdDay(day.id)"
                  [class.disabled]="day.stt < indexDis" [class.active]="day.id === active">
                  <a (click)="getListOnDay(day.stt)">{{day.name}}</a>
                </li>
              </ul>
              <div *ngIf="isPhim == false">
                <h2 class="list_null text-white">Không có phim</h2>
              </div>
              <div class="listPhim mb-2 text-white" *ngFor="let cumRap of cumRapDangCoPhim">
                <div class="wrapper__collapse">
                  <div class="row info py-3">
                    <div>
                      <img class="ml-4" [src]="img" width="50px" height="50px" style="border-radius: 5px;">
                    </div>

                    <div class="col-10 text pl-2 py-3" style="color: aqua ;">
                      <p class="tenCR">{{cumRap.tenCumRap}}</p>
                    </div>

                  </div>
                  <div class="row">
                    <div class="col-12">
                      <div *ngFor="let lc of cumRap.lichChieuPhim">
                        <ng-container *ngIf="kiemTraNgayChieu(lc.ngayChieuGioChieu)">
                          <button [disabled]="disabledT" (click)="navigateTo(lc.maLichChieu)" class=" btn btn-time">
                            {{lc.ngayChieuGioChieu | date: 'HH:mm'}}
                          </button>
                        </ng-container>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="col-12 wrap" *ngSwitchCase="'ThongTin'">
          <div class="thong_tin">
            <div class="text col-12 col-sm-4">
              <p>Ngày công chiếu: {{detailMovie?.ngayKhoiChieu | date:'dd/MM/yyyy'}}</p>
              <p>Đạo diễn: Lorem ipsum dolor.</p>
              <p>Diễn viên: Lorem ipsum dolor sit amet.</p>
              <p>Thể loại: Hành động</p>
              <p>Ngôn ngữ: Tiếng Việt</p>
            </div>
            <div class="col-12 col-sm-6 text mota">
              <p class="text-light">Nội dung</p>
              <p>{{detailMovie?.moTa}}</p>
            </div>

          </div>

        </div>

        <div class="col-12" *ngSwitchCase="'DanhGia'">

          <div style="padding: 100px 0;">
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <div class="modal-content">
        <div class="modal-body">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe id="video" frameborder="0" allowfullscreen="1"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              title="YouTube video player" [src]="url | safe"></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="spinner" id="spinner">
  <div class="loader">
    <p class="text-center text-white">Đang tải</p>
    <div class="inner one"></div>
    <div class="inner two"></div>
    <div class="inner three"></div>
  </div>
</div>