.swal2-styled.swal2-confirm {
  border-radius: 0.25em;
  background: initial;
  background-color: #ffffff !important;
  border: 2px solid #7367f0 !important;
  color: #7367f0 !important;
  outline: none !important;
  box-shadow: none;
  &:focus {
    outline: none !important;
    box-shadow: none !important;
  }
}

@import "../Helper/mixin";
@import "../Helper/variables";
.btn.focus,
.btn:focus {
  outline: 0;
  box-shadow: none;
}

.top_space {
  margin-top: 100px!important;
}

@include responsive("extra-large") {
  .top_space {
    margin-top: 80px!important;
  }
}

@include responsive("large") {
  .top_space {
    margin-top: 60px!important;
  }
}

@include responsive("medium") {
  .top_space {
    margin-top: 50px!important;
  }
}

@include responsive("small") {
  .top_space {
    margin-top: 40px!important;
  }
}