@import "../../../../sass/Base/customize";
@import "../../../../sass/Base/reset";
@import "../../../../sass/Helper/mixin";
@import "../../../../sass/Helper/variables";
.danh_sach_ghe {
  padding-bottom: 50px;
  .row {
    margin: 0;
    padding: 0;
  }
  .bg-booking {
    width: 530px;
    margin: auto;
    .modal-dialog {
      max-width: 1024px;
    }
    .modal-header {
      border-bottom: none;
      h5 {
        font-size: 20px;
        margin-bottom: 0;
      }
    }
    .modal-body {
      padding: 0 1rem;
    }
    .modal-footer {
      border-top: none;
      padding-top: 0;
    }
  }
  .screen {
    margin-top: 20px !important;
    height: 15px;
    width: 100%;
    background-color: #ffb100;
    margin-bottom: 20px !important;
  }
  .info {
    color: #fff;
    table {
      margin: auto;
    }
    .note {
      margin-top: 30px !important;
      width: 100%;
      .color {
        width: 45px;
        height: 25px;
        border-radius: 8px;
      }
      .screen_color {
        .color {
          background-color: ffb10094 !important;
        }
      }
      .item_color {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      p {
        width: 100px;
      }
    }
    p {
      margin-bottom: 0;
    }
    .price {
      width: 100%;
      background: white;
      color: black;
      margin-top: 30px;
      th {
        border: 1px solid;
      }
      td {
        border: 1px solid;
      }
    }
  }
}

@include responsive("medium") {
  .danh_sach_ghe {
    .text-center {
      padding: 0;
    }
    .screen {
      width: 95%;
      margin: auto;
    }
    .bg-booking {
      width: 450px;
    }
  }
}
@include responsive("small") {
  .danh_sach_ghe {
    .text-center {
      padding: 0;
    }
    .screen {
      width: 95%;
      margin: auto;
    }
    .bg-booking {
      width: 385px;
    }
  }
}
