<div class="danh_sach_ghe">
    <div class="bg-booking">
        <div class="row">
            <div class="text-center">
                <div class="screen"></div>
                <app-ghe *ngFor="let ghe of dsGhe" [item]="ghe" (emitStatus)="datGheParent($event,ghe)"></app-ghe>
            </div>
        </div>
        <div class="info ">
            <div class="so_ghe m-2">
                <table class="text-center">
                    <tr>
                        <td>
                            Số ghế đã đặt:
                        </td>
                        <td class="w-50">{{soGheDaDat}}</td>
                    </tr>
                    <tr>
                        <td>Số ghế còn lại:</td>
                        <td class="w-50">{{soGheConLai}}</td>
                    </tr>
                </table>
            </div>
            <div class="note ">
                <div class="row pb-2">
                    <div class="col-6">
                        <div class="item_color screen_color">
                            <div class="color mr-2" [ngStyle]="{'background-color':bgColor}"></div>
                            <p class="detail">Màn hình</p>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="item_color ghe_da_dat">
                            <div class="color mr-2" [ngStyle]="{'background-color':bgColor1}"></div>
                            <p class="detail">Ghế đã đặt</p>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="item_color ghe_chua_dat">
                            <div class="color mr-2 " [ngStyle]="{'background-color':bgColor2}"></div>
                            <p class="detail">Ghế chưa đặt</p>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="item_color ghe_chua_dat">
                            <div class="color mr-2 " [ngStyle]="{'background-color':bgColor3}"></div>
                            <p class="detail">Ghế đang chọn</p>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <table class="price">
                    <tr>
                        <th class="p-1">Số ghế chọn</th>
                        <th class="p-1">Giá</th>
                        <th class="p-1">Tổng</th>
                    </tr>
                    <tr>
                        <td rowspan="1" class="item p-1" style="width: 40%;"><span #dataContainer
                                *ngFor="let ghe of soGheDangDat">{{ghe.tenGhe}};
                            </span>
                        </td>
                        <td rowspan="1" class="item p-1" style="width: 40%;"><span #dataContainer1
                                *ngFor="let ghe of soGheDangDat">{{ghe.giaVe | number}};
                            </span>
                        </td>
                        <td rowspan="1" class="item p-1" style="width: 20%;">
                            <span #dataContainer2>{{totalPrice | number}}</span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="booking_button text-center py-4">
            <button [disabled]="!disabledT" class="btn btn-success" data-toggle="modal"
                data-target="#exampleModal">Đặt vé</button>
        </div>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Xác nhận đặt vé</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body container">
                        <div class="note">
                            <p style="color:#ae8d19">*Lưu ý: quý khách vui lòng kiểm tra chính xác thông tin ghế và giá
                                vé đã đặt</p>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="title">
                                    <h3>Thông tin khách hàng</h3>
                                </div>
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <th scope="col"><span>Tên khách hàng: </span></th>
                                            <th scope="col"><span>{{name}}</span></th>
                                        </tr>
                                        <tr>
                                            <th scope="col"><span>Email: </span></th>
                                            <th scope="col"><span>{{email}}</span></th>
                                        </tr>
                                        <tr>
                                            <th scope="col"><span>Số điện thoại: </span></th>
                                            <th scope="col"><span>{{phone}}</span></th>
                                        </tr>
                                        <tr>
                                            <th scope="col"><span>Phương thức thanh toán: </span></th>
                                            <th scope="col">
                                                <div class="payment">
                                                    <div>
                                                        <input type="radio" name="r1" value="zalo"><span
                                                            class="ml-2">Zalo</span>
                                                    </div>
                                                    <div>
                                                        <input type="radio" name="r1" value="momo"><span
                                                            class="ml-2">Momo</span>
                                                    </div>
                                                </div>
                                            </th>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                            <div class="col-6">
                                <div class="title">
                                    <h3>Danh sách ghế</h3>
                                </div>
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <th scope="col">Số ghế</th>
                                            <th scope="col"><span>Giá vé</span></th>
                                        </tr>
                                        <ng-container *ngFor=" let ghe of soGheDangDat">
                                            <tr>
                                                <th scope="col"><span>{{ghe.tenGhe}}</span></th>
                                                <th scope="col"><span>{{ghe.giaVe | number}}</span></th>
                                            </tr>
                                        </ng-container>
                                        <tr>
                                            <th scope="col">Tổng tiền:</th>
                                            <th scope="col"><span>{{totalPrice | number}}</span></th>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button (click)="bookingSubmit()" type="button" data-dismiss="modal" class="btn btn-primary">Xác
                            nhận</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- (click)="bookingSubmit()" -->