@import "../../sass/Base/customize";
@import "../../sass/Base/reset";
@import "../../sass/Helper/mixin";
@import "../../sass/Helper/variables";

.main{
  width: 100%;
  height: 100%;
  .router {
    padding-top: 50px;
    // height: 100%;
  }
}

@include responsive("large") {
  .main{
    .router {
      padding-top: 39px;
    }
  }
  }
