<div class="coming_content ">
    <div class="title">
        <h2>Phim sắp chiếu</h2>
    </div>
    <div class="info_coming container">
        <div class="row">
            <div class="info col-md-7">
                <div class="name">
                    <h3>{{name}}</h3>
                </div>
                <div class="point">
                    <p>Đánh giá: {{points}}</p>
                </div>
                <div class="date_coming">
                    <p><span><i class="bi bi-calendar2"></i></span> {{dateComing | date:'dd/MM/yyyy'}}</p>
                </div>
                <div class="description">
                    <p>{{description | shortCut:200}}</p>
                </div>
                <div class="more">
                    <a (click)="navigateTo()">Chi tiết</a>
                </div>
            </div>
            <div class="image col-md-5">
                <div class="img">
                    <img src="{{image}}" alt="{{biDanh}}">
                </div>
            </div>
        </div>
    </div>
    <div class="list_coming container-fluid">
        <div class="button left" (click)="shiftLeft()"><span style="font-size:50px; color:white; z-index: 10;"><i
                    class="bi bi-chevron-left"></i></span></div>
        <div class="cards-wrapper">
            <ul class="cards__container">
                <ng-container *ngFor="let film of listComing">
                    <li class="box">
                        <img [src]="film.hinhAnh">
                    </li>
                </ng-container>
            </ul>
        </div>
        <div class="button right" (click)="shiftRight()"><span style="font-size:50px; color:white; z-index: 10;"><i
                    class="bi bi-chevron-right"></i></span></div>
    </div>
</div>