@import "../../../sass/Base/customize";
@import "../../../sass/Base/reset";
@import "../../../sass/Helper/mixin";
@import "../../../sass/Helper/variables";
.detail_cinema {
  color: white;
  cursor: context-menu;
  .content {
    display: none;
    position: relative;
    // &::before {
    //   content: "";
    //   position: absolute;
    //   width: 100%;
    //   background-color: #2e2d2d;
    //   top: 10%;
    //   bottom: 0;
    //   z-index: 1;
    // }
  }

  .detail {
    img {
      width: 300px;
      height: 200px;
      object-fit: cover;
    }
  }
  .contentbot {
    width: 97%;
    margin-left: auto;
    margin-bottom: 20px;
    .action {
      height: 40px;
      margin-top: 30px;
      .link {
        text-decoration: none;
        color: #ffff;
        font-size: 20px;
        transition: all 0.3s;
        &:hover {
          font-size: 25px;
          color: #3bace0;
        }
      }
    }
    .showTime {
      background: #343a40bd;
      padding-top: 30px;
      .logo {
        cursor: pointer;
        opacity: 0.5;
      }
      .logo.active {
        opacity: 1 !important;
      }
      .content_showtimes {
        .listPhim {
          .info {
            margin-top: 18px;
            display: flex;
            padding-bottom: 10px;
            img {
              width: 50px;
              height: 50px;
              border-radius: 5px;
              // margin: 20px 10px;
              // margin-left: 15px;
            }
            .tenphim {
              font-size: 16px;
            }
          }
          .btn {
            margin-right: 20px;
            margin-bottom: 14px;
            background-color: #cecece;
            border-color: #cecece;
          }
        }
      }
      .cinema {
        
        .cinema_Info {
          padding-top: 30px;
          overflow-y: scroll;
          overflow-x: hidden;
          height: 600px;

          ul {
            padding-left: 10px;
            li {
              padding: 0;
              margin: 0;
              padding-bottom: 5px;
              margin-bottom: 20px;
              list-style: none;
              position: relative;
              img {
                width: 50px;
                height: 50px;
                margin-right: 7px;
                cursor: pointer;
                background: wheat;
              }
              &::before {
                position: absolute;
                content: "";
                height: 1px;
                width: 100%;
                bottom: 0;
                background: #5c5c5c;
                margin: auto;
                right: 0;
                left: 0;
              }
              .name {
                h3 {
                  font-size: 13px;
                  color: aqua;
                  margin-bottom: 0;
                }
              }
              .address {
                p {
                  font-weight: 400;
                  font-size: 12px;
                }
              }
            }
          }
        }
      }
    }
    .nav {
      li {
        cursor: pointer;
        height: 40px;
        width: 14%;
        padding: 5px 10px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border: 1px solid #ffff;
      }
      li.active {
        background: white;
        color: black;
        border: 1px solid black;
      }
      li.disabled {
        pointer-events: none;
        background: #323a40;
        color: #7e7e7e;
        border: 1px solid #5c666e;
      }
    }
  }
  .row {
    width: 100%;
  }
  .detail {
    height: 300px;
    position: relative;
    z-index: 10;
    .info {
      position: absolute;
      top: 18%;
      width: 100%;

      .image_cinema {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        z-index: 20;
      }
      .info_text {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .date {
          color: white;
          font-weight: 500;
          font-size: 27px;
        }
        .name {
          font-size: 15px;
          color: #999999;
        }
      }
    }
  }
  .contentbot {
    position: relative;
    z-index: 10;
  }
}

@include responsive("large") {
  .detail {
    .wrap_cinema {
      margin-left: 40px;
      img {
        width: 300px;
        height: 200px;
        margin-left: 30px;
        object-fit: cover;
      }
      .date {
        p {
          font-size: 23px;
        }
      }
    }
  }

  .cinema {
    .cinema_Info {
      ul {
        li {
          .name {
            .cumrap {
              line-height: 1.2rem;
              font-size: 12px !important;
            }
          }
          .address {
            p {
              font-size: 10px !important;
            }
          }
        }
      }
    }
  }

  .content_showtimes {
    .listPhim {
      .info {
        img {
          width: 50px;
          height: 50px;
          border-radius: 5px;
          margin: 0 0;
        }
      }
    }
  }
}

@include responsive("mobile") {
  .detail {
    height: 250px !important;

    .wrap_cinema {
      margin-left: 40px;
      img {
        width: 150px;
        height: 180px;
        margin-left: 10px;
        object-fit: cover;
      }
      .info_text {
        margin: 0;
        padding: 0;
        .date {
          p {
            font-size: 10px !important;
          }
        }
        .name {
          p {
            font-size: 10px !important;
          }
        }
      }
    }
  }

  .cinema {
    .cinema_Info {
      ul {
        li {
          .name {
            .cumrap {
              line-height: 1.2rem;
              font-size: 10px !important;
            }
          }
          .address {
            p {
              font-size: 10px !important;
            }
          }
        }
      }
    }
  }
  .action {
    height: 20px;
    margin: 0;
    .link {
      text-decoration: none;
      color: #ffff;
      font-size: 20px;
      transition: all 0.3s;
      &:hover {
        font-size: 25px;
        color: #3bace0;
      }
    }
  }

  .content_showtimes {
    .listPhim {
      .info {
        img {
          width: 50px;
          height: 50px;
          border-radius: 5px;
          margin: 0 0;
        }
      }
    }
  }
}
