<div class="detail_cinema">
    <div class="content container" id="content">
        <div class="detail">
            <div class="info">
                <div class="row">
                    <div class="image_cinema col-4">
                        <img [src]="img" alt="">
                    </div>
                    <div class="info_text col-8">
                        <div class="date">
                            <p>{{nameCR}}</p>
                        </div>
                        <div class="name">
                            <p>{{diaChi}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="spinner" id="spinner">
    <div class="loader">
        <p class="text-center text-white">Đang tải</p>
        <div class="inner one"></div>
        <div class="inner two"></div>
        <div class="inner three"></div>
    </div>
</div>