<div class="detail_cinema">
    <div class="content container" id="content">
        <div class="detail">
            <div class="info">
                <div class="row">
                    <div class="image_cinema col-4">
                        <img [src]="img" alt="">
                    </div>
                    <div class="info_text col-8">
                        <div class="date">
                            <p>{{nameCR}}</p>
                        </div>
                        <div class="name">
                            <p>{{diaChi}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="contentbot">
            <div class="row">
                <div class="col-12 text-center action">
                    <a class=" link mr-4" (click)="chooseAction('LichChieu')">Lịch chiếu</a>
                    <a class=" link mr-4" (click)="chooseAction('ThongTin')">Thông tin</a>
                    <a class=" link mr-4" (click)="chooseAction('DanhGia')">Đánh giá</a>
                </div>
            </div>
            <div class="row movies mx-0" [ngSwitch]="loaiAction">
                <div class="col-12 showTime" *ngSwitchCase="'LichChieu'">
                    <div class="cinema row">
                        <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 cinema_Info">
                            <ul>
                                <li *ngFor="let cr of listCR; let i = index" class="logo d-flex"
                                    [class.active]="selectedIndex === i" (click)="setIndex(i)">
                                    <img [src]="img" width="50px" height="50px">
                                    <div class="info_cr">
                                        <div class="name">
                                            <h3>{{cr.tenCumRap}}</h3>
                                        </div>
                                        <div class="address">
                                            <p>{{cr.diaChi}}</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="content_showtimes col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8 ">
                            <ul class="nav d-flex">
                                <li class="nav-item" *ngFor="let day of dayOnWeek" (click)="getIdDay(day.id)"
                                    [class.disabled]="day.stt < indexDis" [class.active]="day.id === active">
                                    <a (click)="getListOnDay(day.stt)">{{day.name}}</a>
                                </li>
                            </ul>
                            <div class="listPhim mb-2 text-white" *ngFor="let phim of listMovie">
                                <div class="wrapper__collapse">
                                    <div class="row info py-3">
                                        <div>
                                            <img class="ml-4" [src]="phim.hinhAnh" width="50px" height="50px"
                                                style="border-radius: 5px;">
                                        </div>
                                        <div class="col-10 text pl-2 py-3" style="color: aqua ;">
                                            <p class="tenCR">{{phim.name}}</p>
                                        </div>
                                    </div>
                                  
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div>
                                            <button [disabled]="disabledT" (click)="navigateTo(phim.maLichChieu)" class=" btn btn-time">
                                                {{phim.date | date: 'HH:mm'}}
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="spinner" id="spinner">
    <div class="loader">
        <p class="text-center text-white">Đang tải</p>
        <div class="inner one"></div>
        <div class="inner two"></div>
        <div class="inner three"></div>
    </div>
</div>