<div class="user_managemnet container">
    <div class="add_user">
        <button class="btn btn-primary my-4">Thêm tài khoản</button>
    </div>
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Tài khoản</th>
                <th>Họ tên</th>
                <th>Email</th>
                <th>Số điện thoại</th>
                <th>Loại tài khoản</th>
                <th>Thao tác</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td>{{user.taiKhoan}}</td>
                <td>{{user.hoTen}}</td>
                <td>{{user.email}}</td>
                <td>{{user.soDt}}</td>
                <td>{{user.maLoaiNguoiDung}}</td>
                <td>
                    <button class="btn btn-success mr-2">Sửa</button>
                    <button class="btn btn-danger">Xóa</button>
                </td>

            </tr>
        </tbody>
    </table>
    <nav aria-label="Page navigation example py-4">
        <ul class="pagination">
            <li class="page-item pre "><a [ngClass]="disabledPagePre() ? 'page-link':'page-link disabled'"
                    (click)="checkPre($event)" href="admin/user-management/{{pageCurrent*1 - 1}}">Previous</a></li>

            <li *ngFor="let p of totalPageArr" [class.disabledPage]="disabledPage" class="page-item page">
                <a class="page-link" href="admin/user-management/{{p}} " routerLinkActive="active">{{p}}</a>
            </li>

            <li class="page-item next"><a [ngClass]="disabledPageNext() ? 'page-link':'page-link disabled'"
                    (click)="checkNext($event)" href="admin/user-management/{{pageCurrent*1 + 1}}">Next</a></li>
        </ul>
    </nav>
</div>
