@import "../../../sass/Base/customize";
@import "../../../sass/Helper/variables";
@import "../../../sass/Helper/mixin";

.user_managemnet {
  padding-left: 15px;
  .table_user {
    width: 100%;
    overflow: auto;
    table {
      border-collapse: collapse;
      font-size: 14px;
      td,
      th {
        padding: 0.5rem;
        vertical-align: middle;
      }
      .btn {
        font-size: 14px;
        padding: 5px 7px;
      }
    }
  }
}
@include responsive("extra-large") {
  .user_managemnet {
    padding-right: 0 !important;
    .table_user {
      table {
        font-size: 12px;
        td,
        th {
          padding: 0.3rem;
        }
        .btn {
          font-size: 12px;
          padding: 5px 5px;
        }
      }
    }
  }
}
@include responsive("large") {
  .user_managemnet {
    padding-right: 0 !important;
    .add {
      padding: 5px;
      font-size: 12px;
    }
    .table_user {
      table {
        font-size: 11px;
        width: 900px;
        margin: auto;
        td,
        th {
          padding: 0.15rem;
        }
        .btn {
          font-size: 12px;
          padding: 2px 2px;
        }
      }
    }
  }
}
@include responsive("medium") {
  .user_managemnet {
    table {
      //   font-size: 12px !important;
    }
  }
}
