<div class="user_managemnet container">
   <div class="add_user">
      <button type="button" (click)="addUser()" class="btn btn-primary my-4" data-toggle="modal" data-target="#exampleModal">Thêm tài
         khoản</button>
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
         <div class="modal-dialog" role="document">
            <div class="modal-content">
               <div class="modal-body">
                  <form #signUpForm="ngForm" class="container" (ngSubmit)="signUp(signUpForm)">
                     <app-form [user]="user"></app-form>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </div>
   <table class="table table-hover">
      <thead class="thead-dark">
         <tr>
            <th>Tài khoản</th>
            <th>Họ tên</th>
            <th>Email</th>
            <th>Số điện thoại</th>
            <th>Loại tài khoản</th>
            <th>Thao tác</th>
         </tr>
      </thead>
      <tbody>
         <tr *ngFor="let user of users">
            <td>{{user.taiKhoan}}</td>
            <td>{{user.hoTen}}</td>
            <td>{{user.email}}</td>
            <td>{{user.soDt}}</td>
            <td>{{user.maLoaiNguoiDung}}</td>
            <td>
               <button #btnCapNhat [attr.data-account]="user.taiKhoan" [attr.data-hoTen]="user.hoTen"
                  [attr.data-email]="user.email" [attr.data-phone]="user.soDt" [attr.data-password]="user.matKhau"
                  [attr.data-maLoaiNguoiDung]="user.maLoaiNguoiDung" (click)="update(btnCapNhat)" type="button"
                  class="btn btn-success mr-2" data-toggle="modal" data-target="#exampleModal1">Chỉnh sửa</button>
               <button class="btn btn-danger">Xóa</button>
            </td>
         </tr>
      </tbody>
      <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1"
         aria-hidden="true">
         <div class="modal-dialog" role="document">
            <div class="modal-content">
               <div class="modal-body">
                  <form #updateForm="ngForm" class="container" (ngSubmit)="updateSubmit(updateForm)">
                     <app-form [user]="user"></app-form>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </table>
   <nav aria-label="Page navigation example py-4">
      <ul class="pagination">
         <li class="page-item pre "><a [ngClass]="disabledPagePre() ? 'page-link':'page-link disabled'"
               (click)="checkPre($event)" href="admin/user-management/{{pageCurrent*1 - 1}}">Previous</a></li>

         <li *ngFor="let p of totalPageArr" [class.disabledPage]="disabledPage" class="page-item page">
            <a class="page-link" href="admin/user-management/{{p}}" routerLinkActive="active">{{p}}</a>
         </li>

         <li class="page-item next"><a [ngClass]="disabledPageNext() ? 'page-link':'page-link disabled'"
               (click)="checkNext($event)" href="admin/user-management/{{pageCurrent*1 + 1}}">Next</a></li>
      </ul>
   </nav>
</div>