.card{
    color: white;
    height: 400px;
    margin-bottom: 40px;
    background-color: #71717175;
    text-align: center;
    img{
        height: 75%;
    }
    .card-body{
        padding: 0!important;
        padding-top: 1rem!important;
        h4{
            font-size: 14px;
        }
    }
}