.card{
    color: white;
    height: 80%;
    margin-bottom: 40px;
    background-color: #ffffff00;
    text-align: center;
    cursor: pointer;
    border: none;
    width: 85%;
    margin: auto;
    img{
        height: 320px;
        border-radius: 5px;
        object-fit: cover;
    }
    .card-body{
        padding: 0!important;
        padding-top: 1rem!important;
        h4{
            font-size: 17px;
        }
    }
}