<!-- <div class="cinema_management">
    <div class="add_cinema">
        <button type="button" (click)="resetForm()" class="btn btn-primary my-4" data-toggle="modal" data-target="#exampleModal">Thêm
            phim</button>
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <form #addMovieForm="ngForm" (ngSubmit)="addMovie()" class="container">
                            <app-form-add-movie [isDisabled]="isDisabled" (outForm)="getForm($event)" [movie]="movie"></app-form-add-movie>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div> -->
