<div class="menu">
    <nav class="nav__cont">
        <ul class="nav">
            <li class="nav__items navbar-brand ">
                <img class="home" src="../../../../assets/icon/home.png" alt="">
                <p class="text">
                    <span routerLink="/client/home" class="text_1">sayohyeah</span>
                </p>
            </li>
            <li class="nav__items ">
                <div class="item"><span class="icon"><i class="bi bi-pie-chart"></i></span><span class="link"
                        routerLink="/admin/dashboard" routerLinkActive="active"><a>Bảng điều khiển</a></span></div>
            </li>
            <li class="nav__items ">
                <div class="item"><span class="icon"><i class="bi bi-person"></i></span><span class="link"
                        routerLink="/admin/user-management/" [queryParams]="" routerLinkActive="active"><a>Quản lý người
                            dùng</a></span></div>
            </li>
            <li class="nav__items ">
                <div class="item"><span class="icon"><i class="bi bi-film"></i></span><span class="link"
                        routerLink="/admin/movie-management" [queryParams]="" routerLinkActive="active"><a>Quản lý
                            phim</a></span></div>
            </li>
            <li class="nav__items ">
                <div class="item"><span class="icon"><i class="bi bi-calendar4-event"></i></span><span class="link"
                        routerLink="/admin/showtimes-management" routerLinkActive="active"><a>Quản lý lịch chiếu</a></span>
                </div>
            </li>
            <!-- <li class="nav__items ">
                <div class="item"><span class="icon"><i class="bi bi-calendar4-event"></i></span><span class="link"
                        routerLink="/admin/cinema-management" routerLinkActive="active"><a>Quản lý Rạp</a></span>
                </div>
            </li> -->
        </ul>
    </nav>
</div>