@import "../../../../sass/Base/customize";
@import "../../../../sass/Helper/variables";
@import "../../../../sass/Helper/mixin";
.menu {
  img {
    display: none;
  }
  .nav__cont {
    position: fixed;
    width: 16%;
    top: 0;
    height: 100%;
    z-index: 1;
    overflow: hidden;
    transition: width 0.3s ease;
    background-image: url(../../../../assets/images/sidebar-5.jpg);
  }

  .nav {
    display: block !important;
    background-color: #fb404bd4;
    list-style-type: none;
    color: white;
    height: 100%;
  }

  .nav__items {
    font-family: "roboto";
    .text {
      color: #555;
      font-family: "Merienda One", sans-serif;
      text-transform: uppercase;
      font-style: italic;
      margin-bottom: 0;
      cursor: pointer;
      font-size: 1.2em;
    }
    .icon {
      font-size: 20px;
      margin-right: 10px;
      margin-left: 15px;
    }
    .link {
      font-size: 15px;
      padding: 10px 10px;
      width: 165px;
    }

    .item {
      display: flex;
      flex-direction: row;
      align-items: center;
      transition: all 0.3s ease;
      text-decoration: none;
      color: white;
      font-family: "roboto";
      padding: 10px 0px;
      font-weight: 100;
      cursor: pointer;
      span.active {
        position: relative;
        &::before {
          content: " ";
          position: absolute;
          height: 100%;
          width: 100%;
          background: #fffcfc4f;
          border-radius: 5px;
          right: 3%;
          width: 120%;
          top: 0;
        }
      }
    }
  }
  .navbar-brand {
    position: relative;
    width: 195px;
    height: 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    &::after {
      content: "";
      position: absolute;
      height: 1px;
      width: 90%;
      right: 5%;
      z-index: 5;
      left: 6%;
      bottom: 13%;
      background: #ffffff38;
    }
  }
}
@include responsive("extra-large") {
  .menu {
    .nav__cont {
      width: 16%;
    }

    .nav {
      height: 100%;
    }

    .nav__items {
      .text {
        font-size: 0.9em;
      }
      .icon {
        font-size: 18px;
        margin-right: 0px;
        margin-left: 10px;
      }
      .link {
        font-size: 13px;
        padding: 12px 10px;
        width: 165px;
        padding-right: 0;
      }

      .item {
        padding: 5px 0px;
        span.active {
          &::before {
            width: 100%;
            border-radius: 0px;
            right: -2px;
            width: 200%;
            top: 0;
          }
        }
      }
    }
    .navbar-brand {
      width: 170px;
      height: 80px;
      &::after {
        height: 1px;
        width: 90%;
        right: 5%;
        left: 6%;
      }
    }
  }
}
@include responsive("large") {
  .menu {
    img {
      display: block;
      height: 20px;
      width: 20px;
    }
    .nav__cont {
      width: 7%;
      &:hover {
        width: 200px;
        .navbar-brand {
          width: 195px;
          height: 80px;
          &::after {
            width: 90%;
          }
        }
        img {
          display: none;
        }
        .nav__items {
          a {
            opacity: 1;
          }
          .link {
            width: 165px;
          }
          .text {
            display: block;
          }
          .icon {
            width: 0px;
          }
        }
      }
    }
    .nav {
      height: 100%;
      width: 100%;
    }
    .nav__items {
      width: 200px;
      .text {
        font-size: 0.9em;
        display: none;
      }
      .icon {
        font-size: 18px;
        margin: auto;
        width: 70px;
        margin-right: 5px;
        margin-left: 20px;
        padding-right: 15px;
        transition: all 0.3s ease;
      }
      .link {
        font-size: 13px;
        padding: 12px 10px;
        width: 160px;
        padding-right: 0;
        // pointer-events: none;
        transition: all 0.3s ease;

        a {
          opacity: 0;
        }
      }
    }
    .navbar-brand {
      width: 57px;
      height: 80px;
      transition: width 0.3s ease;
      &::after {
        height: 1px;
        width: 120%;
        right: 0;
        left: 0;
      }
    }
  }
}
@include responsive("medium") {
  .menu {
    .nav__cont {
      width: 7%;
      &:hover {
        .navbar-brand {
          width: 195px;
          height: 80px;
          &::after {
            width: 102%;
          }
        }
      }
    }
    .nav {
    }
    .nav__items {
      .text {
      }
      .icon {
        margin-left: 12px;
      }
      .link {
        a {
        }
      }
    }
    .navbar-brand {
      width: 45px;
      &::after {
      }
    }
  }
}
@include responsive("medium") {
  .menu {
    .nav__cont {
      &:hover {
        .navbar-brand {
          width: 195px;
          height: 80px;
          &::after {
            width: 102%;
          }
        }
      }
    }
    .nav {
    }
    .nav__items {
      .text {
      }
      .icon {
        margin-left: 5px;
      }
      .link {
        a {
        }
      }
    }
    .navbar-brand {
      width: 30px;
      &::after {
      }
    }
  }
}
