.history_booking {
  cursor: context-menu;
  .title {
    padding: 50px;
    color: #cbafaf;
    h1 {
      font-size: 37px;
      cursor: context-menu;
    }
  }
  .table {
    background: #f8f9fad9;
  }
  .content{
    display: none;
  }
}

