@import "../../../sass/Helper/mixin";
@import "../../../sass/Helper/variables";
.history_booking {
  display: none;
  cursor: context-menu;
  .title {
    padding: 50px;
    color: #cbafaf;
    h1 {
      font-size: 37px;
      cursor: context-menu;
    }
  }
  .table {
    background: #f8f9fad9;
  }
  .content {
    min-height: 500px;
  }
  pagination-controls {
    ::ng-deep {
      align-items: center;
      justify-content: center;
      .ngx-pagination {
        li {
          background: white !important;
          margin-right: 0;
          border: 1px solid #dee2e6;
          color: #007bff;
          a {
            padding: 0.4rem 0.7rem;
            &::before {
              display: none;
            }
            &::after {
              display: none;
            }
          }
          &:focus {
            color: white !important;
          }
        }
        li:first-child {
          border-top-left-radius: 4px;
          border-bottom-left-radius: 4px;
          // padding: .5rem .75rem;
        }
        li:last-child {
          border-top-right-radius: 4px;
          border-bottom-right-radius: 4px;
        }
        li.current {
          background-color: #343a40 !important;
          border-color: #343a40 !important;
          color: white !important;
          padding: 0.4rem 0.7rem;
        }
        li.disabled {
          color: darkgrey;
          padding: 0.4rem 0.7rem !important;
          background-color: #bababa !important;
          border-color: #bababa !important;
          &::before {
            display: none;
          }
          &::after {
            display: none;
          }
        }
        li.small-screen {
          padding: 0.4rem 0.7rem !important;
        }
      }
    }
  }
}
@include responsive("small") {
  .history_booking {
    .table{
      font-size: 12px!important;
      td, th{
        padding: 5px;
      }
    }
    pagination-controls {
      ::ng-deep {
        .ngx-pagination {
          li {
            a {
              padding: 0.3rem 0.5rem !important;
            }
          }
          li.disabled {
            padding: 0.3rem 0.5rem !important;
          }
          li.small-screen {
            padding: 0.3rem 0.5rem !important;
          }
        }
      }
    }
  }
}
