<div class="history_booking container" id="history_booking">
    <div class="content" id="content">
        <div class="title my-2 text-center">
            <h1>Lịch sử đặt vé</h1>
        </div>
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Thứ tự</th>
                    <th scope="col">Tên phim</th>
                    <th scope="col">Rạp chiếu</th>
                    <th scope="col">Số lượng ghế</th>
                    <th scope="col">Ngày đặt</th>
                </tr>
            </thead>

            <tbody>

                <ng-container
                    *ngFor="let item of arrHistory| paginate: { itemsPerPage: 10, currentPage: p }; index as i">
                    <tr>
                        <td>{{i+1}}</td>
                        <td>{{item.tenPhim}}</td>
                        <td>{{item.danhSachGhe[0].tenHeThongRap}}</td>
                        <td>{{item.danhSachGhe.length}}</td>
                        <td>{{item.ngayDat | date:'dd/MM/yyyy'}}</td>
                    </tr>
                </ng-container>
            </tbody>
        </table>

    </div>
    <pagination-controls class="pagination text-center" (pageChange)="p = $event" [responsive]="responsive"></pagination-controls>
</div>
<div class="spinner" id="spinner">
    <div class="loader">
        <p class="text-center text-white">Đang tải</p>
        <div class="inner one"></div>
        <div class="inner two"></div>
        <div class="inner three"></div>
    </div>
</div>