.bg{
    // display: fixed;
    background-image: url("../assets/images/bacground_ds_ghe.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    // position: absolute;
    
}