<footer class="container-fluid bg-grey py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-6">
                <div class="row">
                    <div class="logo col-md-5 col-lg-5 ">
                        <div class="logo-part">
                            <div class="w-50 logo-footer">
                                <h1>SAYOHYEAH</h1>
                            </div>
                        </div>
                    </div>
                    <div class="contact col-md-7 col-lg-7">
                        <h6>Liên hệ</h6>
                        <a href="#" class="btn-footer"> Thêm thông tin </a><br>
                        <a href="#" class="btn-footer"> Liên hệ chúng tôi</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6">
                <div class="row">
                    <div class="col-md-6">
                        <h6> Trợ giúp</h6>
                        <div class="row ">
                            <div class="col-md-12">
                                <ul>
                                    <li><a href="#">FAQ</a></li>
                                    <li><a href="#">Thỏa thận sử dụng</a></li>
                                    <li><a href="#">Chính sách bảo mật</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="doiTac col-md-6 ">
                        <div class="title">
                            <h6>Đối tác</h6>
                        </div>
                        <div class="content">
                            <ng-container *ngFor="let item of listCinema">
                                <img [src]="item.logo" alt="" class="logo">
                            </ng-container>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>