<div class="row cinema">
  <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 cinema_Info">
    <ul>
      <li *ngFor="let cinema of listCinema; let i = index" class="logo" [class.active]="selectedIndex === i"
        (click)="setIndex(i)">
        <a (click)="layThongTinRap(cinema.maHeThongRap)"><img [src]="cinema.logo" width="50px" height="50px"></a>
      </li>
    </ul>
  </div>
  <div class=" col-4 col-sm-4 col-md-4 col-lg-3 col-xl-3 theater_cluster ">
    <div div class="text-white cumRap mb-3" [class.active]="selectedIndex2 === i" (click)="setIndex2(i)"
      *ngFor="let cr of listCRP; let i = index">
      <div class="content" (click)="layLichChieu(cr.maCumRap)">
        <div class="row">
          <div class="img col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 pr-2">
            <img [src]="img" width="50px" height="50px" style="border-radius: 5px;">
          </div>
          <div class="text col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10">
            <p class="tenCR">{{cr.tenCumRap | shortCut: 25}}</p>
            <span>{{cr.diaChi| shortCut: 25}}</span>
            <p> <a class="text p-0" (click)="navigateToCR(cr.maCumRap)"> [Chi tiết]</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class=" col-6 col-sm-6 col-md-6 col-lg-7 col-xl-7 movies">
    <div *ngIf="isPhim == false">
      <h2 class="text-white">Cụm rạp này hôm nay không có phim</h2>
    </div>
    <div class="listPhim mb-2 text-white" *ngFor="let phim of listPhimNgayHienTai; let i = index">
      <div class="wrapper__collapse">
        <div class="top">
          <div class="d-flex" data-toggle="collapse" [attr.data-target]="'#phim-'+phim.maPhim">
            <img class="img_movie mr-3 mb-3" [src]="phim.hinhAnh" alt="" width="70px" height="70px">
            <div class="infoP">
              <p>{{phim.tenPhim}}</p>
              <span>116 phút - TIX 8.6 - IMDb 0</span>
            </div>
          </div>
          <div class="row collapse show" [id]="'phim-'+ phim.maPhim">
            <div class="col-9 time">
              <h3 class="hh">2D Digital</h3>
              <div *ngFor="let lc of phim.lstLichChieuTheoPhim">
                <ng-container *ngIf="kiemTraNgayChieu(lc.ngayChieuGioChieu)">
                  <button [disabled]="disabledT" (click)="navigateTo(lc.maLichChieu)" class=" btn  btn-time">
                    {{lc.ngayChieuGioChieu | date: 'HH:mm'}}
                  </button>
                </ng-container>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
