.cinema{
  // height: 700px;
  margin-bottom: 40px;
  border: 1px solid navajowhite;
  // padding:20px 0 ;
  .cinema_Info{
    border: 1px solid cadetblue;
    width: 100px;
    padding: 0;
    margin: 0;
    // padding:20px 0 ;
    ul{
      padding: 0;
      li{

        padding: 0;
        margin: 0 ;
        list-style: none;
        a{
          margin: 0;
          display: block;
          padding: 20px 40px;
          text-align: center;
          height: 100%;
          img{
            width: 60px;
            height: 60px;
            padding-bottom: 10px;
            border-bottom: 2px solid red;
          }
        }
      }
    }

  }
  .theater_cluster{
    padding: 20px 0;
    border: 1px solid chartreuse;
  }
  .movies{
    padding:20px 0 ;
    border: 1px solid navy;

    .digital{
      font-size: 18px;
      margin-bottom: 20px;
    }
    .btn-time{
      font-size: 15px;
      float: left;
      margin-right: 20px;
      margin-bottom: 14px;
      &:hover{
        color: red;
        transition: all 0.5s;

      }
      .timeSt{
        font-size: 18px;
      }
    }
  }



}
