<div class="getShowtime">
    <div class="row">
        <div class="col-md-1">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item" *ngFor="let info of arrheThongRap"><img (click)="getCinema(info.maHeThongRap)"
                        class="logo" [src]="info.logo"></li>
            </ul>
        </div>
        <div class="col-md-4">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item" *ngFor="let cumRap of arrCumRap">
                   <a class="nav-link" (click)="getcumRap(cumRap.maCumRap)">
                    <div class="row">
                        <div class="col-3">
                            <img class="img_cinema" [src]="hinhAnh" alt="">
                        </div>
                        <div class="col-9">
                            <span>{{cumRap.tenCumRap}}</span>
                            <span>{{cumRap.diaChi}}</span>
                        </div>
                    </div>
                   </a>
                </li>
            </ul>
        </div>
        <div class="col-7">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item" *ngFor="let phim of listPhim">
                   <p *ngIf="listPhim===null">Không có phim</p>
                   <div *ngIf="listPhim!==null">
                       <img class="img_cinema" [src]="phim.hinhAnh" alt="">
                   </div>
                </li>
            </ul>
        </div>
    </div>
</div>