<div class="row cinema  ">
    <div class="col-2 cinema_Info">
        <ul>
            <li *ngFor="let cinema of listCinema">
                <a (click)="layThongTinRap(cinema.maHeThongRap)"><img [src]="cinema.logo" width="50px"
                        height="50px"></a>
            </li>
        </ul>
    </div>
    <div class="col-3 theater_cluster ">
        <div div class="text-white d-flex mb-3" *ngFor="let cr of listCRP" style="border-bottom: 2px solid red;">
            <div class="content" (click)="layLichChieu(cr.maCumRap)">
                <div class="img">
                    <img [src]="img" width="50px" height="50px">
                </div>
                <div class="text">
                    <p>{{cr.tenCumRap}}</p>
                    <span>{{cr.diaChi| shortCut: 32}}</span>
                    <p> <a href="#"> [Chi tiết]</a></p>
                </div>
            </div>

        </div>
    </div>
    <div class="col-7 movies">
        <div *ngIf="isPhim == false">
            <h2 class="text-white">Cụm rạp này hôm nay không có phim</h2>
        </div>
        <div class="listPhim mb-2 text-white" *ngFor="let phim of listPhimNgayHienTai; let i = index">
            <div class="wrapper__collapse">
                <div class="top" [attr.data-target]="'#phim-'+phim.maPhim">
                    <div class="info">
                        <img [src]="phim.hinhAnh" alt="" width="70px" height="70px">
                        <div class="infoP">
                            <p><span>C13</span> - {{phim.tenPhim}}</p>
                        </div>
                    </div>

                    <div class="showTime" *ngFor="let lc of phim.lstLichChieuTheoPhim">
                        <div class="">
                            <button *ngIf="kiemTraNgayChieu(lc.ngayChieuGioChieu)" class=" btn btn-success btn-time">
                                <span class="timeSt">{{lc.ngayChieuGioChieu | date: 'HH:mm'}}</span>
                            </button>
                        </div>
                    </div>

                </div>
            </div>

        </div>



    </div>


</div>