.getShowtime{
    color: white;
    li {
        padding: 20px;
        .logo{
            width: 50px;
            cursor: pointer;
        }
        .img_cinema{
            width: 70px;
        }
    }
}