.swal2-styled.swal2-confirm {
  border-radius: 0.25em;
  background: initial;
  background-color: #ffffff !important;
  border: 2px solid #7367f0 !important;
  color: #7367f0 !important;
  outline: none !important;
  box-shadow: none;
}

.swal2-styled.swal2-confirm:focus {
  outline: none !important;
  box-shadow: none !important;
}

.btn.focus,
.btn:focus {
  outline: 0;
  box-shadow: none;
}

.top_space {
  margin-top: 100px !important;
}

@media screen and (max-width: 1200px) {
  .top_space {
    margin-top: 80px !important;
  }
}

@media screen and (max-width: 991px) {
  .top_space {
    margin-top: 60px !important;
  }
}

@media screen and (max-width: 767.89px) {
  .top_space {
    margin-top: 50px !important;
  }
}

@media screen and (max-width: 576px) {
  .top_space {
    margin-top: 40px !important;
  }
}

.dashboard {
  margin-top: 35px;
  padding-left: 15px;
}

.dashboard .amount_detail {
  color: wheat;
  margin-bottom: 35px;
  margin-left: 20px;
}

.dashboard .new_movie {
  background: #2c97df;
}

.dashboard .user {
  background: #ff6262;
}

.dashboard .coming_movie {
  background: #ff9c21;
}

.dashboard .user,
.dashboard .new_movie,
.dashboard .coming_movie {
  height: 100px;
  display: flex;
  margin-right: 15px;
}

.dashboard .user .info,
.dashboard .new_movie .info,
.dashboard .coming_movie .info {
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.dashboard .user .info .amount,
.dashboard .new_movie .info .amount,
.dashboard .coming_movie .info .amount {
  font-size: 20px;
}

.dashboard .user .icon,
.dashboard .new_movie .icon,
.dashboard .coming_movie .icon {
  margin-right: auto;
  font-size: 60px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

@media screen and (max-width: 1200px) {
  .dashboard {
    margin-top: 25px;
    padding-left: 10px;
  }
  .dashboard .amount_detail {
    margin-bottom: 25px;
  }
  .dashboard .user,
  .dashboard .new_movie,
  .dashboard .coming_movie {
    height: 85px;
    margin-right: 12px;
  }
  .dashboard .user .info .amount,
  .dashboard .new_movie .info .amount,
  .dashboard .coming_movie .info .amount {
    font-size: 15px;
  }
  .dashboard .user .info .title,
  .dashboard .new_movie .info .title,
  .dashboard .coming_movie .info .title {
    font-size: 15px;
  }
  .dashboard .user .icon,
  .dashboard .new_movie .icon,
  .dashboard .coming_movie .icon {
    font-size: 50px;
  }
}

@media screen and (max-width: 991px) {
  .dashboard {
    margin-top: 20px;
    padding-left: 5px;
  }
  .dashboard .amount_detail {
    margin-bottom: 20px;
    margin-left: 17px;
  }
  .dashboard .user,
  .dashboard .new_movie,
  .dashboard .coming_movie {
    height: 80px;
  }
  .dashboard .user .info .amount,
  .dashboard .new_movie .info .amount,
  .dashboard .coming_movie .info .amount {
    font-size: 12px;
  }
  .dashboard .user .info .title,
  .dashboard .new_movie .info .title,
  .dashboard .coming_movie .info .title {
    font-size: 12px;
  }
  .dashboard .user .icon,
  .dashboard .new_movie .icon,
  .dashboard .coming_movie .icon {
    font-size: 40px;
  }
}

@media screen and (max-width: 767.89px) {
  .dashboard {
    margin-top: 15px;
    padding-left: 5px;
  }
  .dashboard .amount_detail {
    margin-bottom: 15px;
    margin-left: 15px;
  }
  .dashboard .user,
  .dashboard .new_movie,
  .dashboard .coming_movie {
    height: 75px;
    margin-right: 8px;
  }
  .dashboard .user .info .amount,
  .dashboard .new_movie .info .amount,
  .dashboard .coming_movie .info .amount {
    font-size: 11px;
  }
  .dashboard .user .info .title,
  .dashboard .new_movie .info .title,
  .dashboard .coming_movie .info .title {
    font-size: 11px;
  }
  .dashboard .user .icon,
  .dashboard .new_movie .icon,
  .dashboard .coming_movie .icon {
    font-size: 25px;
  }
}

@media screen and (max-width: 576px) {
  .dashboard .user,
  .dashboard .new_movie,
  .dashboard .coming_movie {
    padding-left: 3px;
    padding-right: 3px;
    margin-right: 4px;
  }
  .dashboard .user .info .amount,
  .dashboard .new_movie .info .amount,
  .dashboard .coming_movie .info .amount {
    font-size: 11px;
  }
  .dashboard .user .info .title,
  .dashboard .new_movie .info .title,
  .dashboard .coming_movie .info .title {
    font-size: 11px;
  }
  .dashboard .user .icon,
  .dashboard .new_movie .icon,
  .dashboard .coming_movie .icon {
    font-size: 20px;
  }
}
/*# sourceMappingURL=dashboard.component.css.map */