<div class="profile" id="profile">
    <div class="content row">
        <div class="left">
            <div class="background">
                <div class="text">
                    {{avatar}}
                </div>
            </div>
        </div>
        <div class="right">
            <table>
                <tr>
                    <td>Tên tài khoản:</td>
                    <td>{{userName}}</td>
                </tr>
                <tr>
                    <td>Họ và tên:</td>
                    <td #namea>{{name}}</td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td #emaile>{{email}}</td>
                </tr>
                <tr>
                    <td>Số điện thoại:</td>
                    <td #phonee>{{phoneNumber}}</td>
                </tr>
            </table>
            <div class="changeInfo">
                <button #editInfo [attr.data-taiKhoan]="userName" [attr.data-email]="email"
                    [attr.data-phone]="phoneNumber" [attr.data-hoTen]="name" (click)="getInfo(editInfo)" type="button"
                    class="btn" data-toggle="modal" data-target="#editModal">Chỉnh sửa</button>
                <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-body">
                                <form #editForm="ngForm" class="container" (ngSubmit)="editSubmit()">
                                    <app-modal (outputFormEdt)="getOutForm($event)" [user]="userInfo"></app-modal>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
                <button type="button" class="btn" data-toggle="modal" data-target="#changePassModal">Đổi mật
                    khẩu</button>
                <div class="modal fade" id="changePassModal" tabindex="-1" role="dialog"
                    aria-labelledby="changePassModalLabel" aria-hidden="true">
                    <form #passForm="ngForm" class="container" (ngSubmit)="passSubmit()">
                        <app-pass-modal (outPass)="getOutPass($event)" [pass]="pass"></app-pass-modal>
                    </form>
                </div>

            </div>

        </div>
    </div>
</div>
<div class="spinner" id="spinner">
    <div class="loader">
        <p class="text-center text-white">Đang tải</p>
        <div class="inner one"></div>
        <div class="inner two"></div>
        <div class="inner three"></div>
    </div>
</div>
