@import "../../../sass/Helper/mixin";
@import "../../../sass/Helper/variables";
.profile {
  height: 100vh;
  cursor: context-menu;
  display: none;
  .content {
    height: 100%;
    width: 80%;
    margin: auto;
    align-items: center;
    justify-content: center;
  }
  .left {
    background: rgba(128, 128, 128, 0.212);
    height: 65%;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    .text {
      display: flex;
      justify-content: center;
      align-items: center;
      background-image: linear-gradient(90deg, #88d0ff, #db8cfc);
      width: 90px;
      height: 90px;
      font-size: 30px;
      color: #fff;
      border-radius: 50%;
    }
  }
  .right {
    height: 65%;
    width: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #cbcbcbde;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    padding-left: 20px;
    font-size: 17px;
    .btn {
      color: #32329e;
      &:focus {
        box-shadow: none;
      }
    }
    table {
      height: 60%;
      margin-bottom: 10px;
    }
  }
}
@include responsive("large") {
  .profile {
    .content {
      width: 100%;
    }
    .left {
      height: 60%;
      .text {
        width: 70px;
        height: 70px;
      }
    }
    .right {
      height: 65%;
      font-size: 14px;
      width: 55%;
      .btn {
        font-size: 14px;
      }
    }
  }
}
@include responsive("medium") {
  .profile {
    .content {
      width: 100%;
    }
    .left {
      .text {
        width: 60px;
        height: 60px;
      }
    }
    .right {
      width: 65%;
      height: 60%;
      font-size: 14px;
      .btn {
        font-size: 14px;
      }
    }
  }
}
@include responsive("small") {
  .profile {
    .left {
      height: 55%;
      .text {
        width: 55px;
        height: 55px;
      }
    }
    .right {
      width: 70%;
      height: 55%;
      font-size: 12px;
      .btn {
        font-size: 12px;
      }
    }
  }
}
@include responsive("mobile") {
  .profile {
    .left {
      height: 55%;
      .text {
        width: 45px;
        height: 45px;
      }
    }
    .right {
      width: 75%;
      height: 55%;
      font-size: 11px;
      .btn {
        font-size: 11px;
      }
    }
  }
}
