<!-- <ng-select [items]="cities" bindLabel="name" placeholder="Select city" [(ngModel)]="selectedCity">
</ng-select>
<p>
    Selected city: {{selectedCity | json}}
</p> -->
<div class="showtime_mng">
    <div class="addShowtime">
        <button type="button" class="btn btn-primary add my-4" data-toggle="modal" data-target="#exampleModal">
            Thêm lịch chiếu
        </button>

        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="form-group">
                            <span class="form_cpn">Chọn phim</span>
                            <ng-select placeholder="Chọn..." [(ngModel)]="selectedPhim">
                                <ng-option (click)="getst($event)" *ngFor="let phim of dsPhim" [value]="phim.value">
                                    <span class="image">
                                        <img [src]="phim.image" class="mr-4" style="width: 30px" >
                                    </span>
                                    <span>{{phim.name}}</span>
                                </ng-option>
                             </ng-select>
                        </div>
                        <div class="form-group">
                            <span class="form_cpn">Chọn mã hệ thống rạp</span>
                            <ng-select class="ngSelect" (ngModelChange)="mySelectHandler($event)" placeholder="Chọn..." [(ngModel)]="selectedmaHeThong">
                                <ng-option *ngFor="let rap of maHeThongRap" [value]="rap.name">{{rap.name}}</ng-option>
                             </ng-select>
                        </div>
                        <div class="form-group">
                            <span class="form_cpn">Chọn cụm rạp</span>
                            <ng-select (ngModelChange)="selectMaRap()"  placeholder="Chọn..." [(ngModel)]="selectedCumRap">
                                <ng-option *ngFor="let rap of cumRap" [value]="rap.value">{{rap.name}}</ng-option>
                             </ng-select>
                        </div>
                        <div class="form-group">
                            <span class="form_cpn">Chọn rạp</span>
                            <ng-select  placeholder="Chọn..." [(ngModel)]="selectedMaRap">
                                <ng-option *ngFor="let rap of maRap" [value]="rap.value">{{rap.name}}</ng-option>
                             </ng-select>
                        </div>
                        <div class="form-group">
                            <span class="form_cpn">Ngày chiếu</span>
                            <input #searchInput type="text" (change)="getDate($event)" class="form-control" placeholder="Nhập...">
                        </div>
                        <div class="form-group">
                            <span class="form_cpn">Giờ chiếu</span>
                            <input #searchInput1 type="text" (change)="getTime($event)" class="form-control" placeholder="Nhập...">
                        </div>
                        <div class="form-group">
                            <span class="form_cpn">Giá vé</span>
                            <input #searchInput2 type="text" (change)="getPrice($event)" class="form-control" placeholder="Nhập...">
                        </div>
                        <button type="button" (click)="submitShowtime()" class="btn btn-primary mr-2">Cập nhật</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Thoát</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>