@import "../../../sass/Base/customize";
@import "../../../sass/Base/reset";
@import "../../../sass/Helper/mixin";
@import "../../../sass/Helper/variables";

.form-inline {
  display: inline-block;
}

.navbar {
  position: absolute;
  // position: -webkit-sticky;
  // position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 30;
  // border-bottom: 1px solid #d6d6d6;
  padding: 18px 18px;
}
.nav-fixed-top {
  position: fixed;
  background: #0f2133;
  animation: navTop 0.5s;
  padding: 10px 18px;
}
.nav-fixed-back {
  position: fixed;
  animation: backNavTop 0.5s;
  padding: 10px 18px;
  background: #0f2133;
}
.navbar .navbar-brand {
  color: #dd003f;
  font-family: "Merienda One", sans-serif;
  padding-left: 0;
  font-size: 20px;
}

.navbar .nav-item.active {
  // color: #fbfbfb;
  color: #dc924c;
  font-weight: 400;
}
.navbar .nav-item {
  font-family: "Roboto", sans-serif !important;
  font-size: 20px;
  font-weight: 100;
  color: #ffffff;
  // color: #abb7c4;
}
.navbar .dropdown-item i {
  font-size: 15px;
  min-width: 22px;
}
.navbar .nav-item.open > a {
  background: none !important;
}
.navbar .dropdown-menu {
  border-radius: 1px;
  border-color: #0f2133;
  box-shadow: 0 2px 8px rgb(0 0 0 / 5%);
  margin: 0.425rem 0 0;
  background: #0f2133cf;
}
.navbar .dropdown-menu a:hover {
  background: #0f213300;
}
.navbar .dropdown-menu a {
  color: #abb7c4;
  padding: 8px 20px;
  line-height: normal;
}
.navbar .dropdown-menu a:hover,
.navbar .dropdown-menu a:active {
  color: #abb7c4;
}

.navbar .badge {
  color: #fff;
  background: #f44336;
  font-size: 11px;
  border-radius: 20px;
  position: absolute;
  min-width: 10px;
  padding: 4px 6px 0;
  min-height: 18px;
  top: 5px;
}
.navbar .active a,
.navbar .active a:hover,
.navbar .active a:focus {
  background: transparent !important;
}
.navbar {
  background-image: linear-gradient(#262626d9, #ffffff00);
  // background: #0f2133;
  a {
    cursor: pointer;
  }
  .navbar-toggler {
    border: none;
  }
  .dropdown {
    .nav-link {
      font-size: 20px;
      font-weight: 400;
      color: #ffffff;
    }
    .dropdown-item {
      font-size: 15px;
      font-weight: normal;
    }
    svg {
      width: 20px;
      margin-right: 12px;
    }
  }
  .btn {
    font-size: 18px;
    font-weight: 100;
    color: #abb7c4;
  }
  .dropdown-toggle {
    &::after {
      margin-left: 12px;
    }
  }
  .user {
    width: 10%;
  }
}
@media (min-width: 1200px) {
  .form-inline .input-group {
    width: 300px;
    margin-left: 30px;
  }
}
@media (max-width: 1199px) {
  .form-inline {
    display: block;
    margin-bottom: 10px;
  }
  .input-group {
    width: 100%;
  }
}
@include responsive("large") {
  .navbar {
    padding: 4px 18px;
    .navbar-toggler-icon {
      width: 1em;
      height: 1em;
    }

    .dropdown-item {
      i {
        font-size: 14px;
      }
    }
    .nav-item {
      font-size: 14px;
    }
    .navbar-brand {
      font-size: 17px;
    }
    .dropdown {
      .nav-link {
        font-weight: 400;
        font-size: 13px;
      }
    }
  }
}
@keyframes navTop {
  0% {
    top: -20%;
  }
  100% {
    top: 0;
  }
}
@keyframes backNavTop {
  0% {
    top: 0;
  }
  100% {
    top: -20%;
  }
}
