@import "../../../sass/Base/customize";
@import "../../../sass/Base/reset";
@import "../../../sass/Helper/mixin";
@import "../../../sass/Helper/variables";

.form-inline {
  display: inline-block;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 15;
  border-bottom: 1px solid #d6d6d6;
  padding: 7px 18px;
}
.navbar .navbar-brand {
  color: #555;
  padding-left: 0;
  font-size: 20px;
  font-family: "Merienda One", sans-serif;
}

.navbar .nav-item {
  font-family: "Roboto", sans-serif !important;
  font-size: 15px;
  font-weight: 500;
}
.navbar .dropdown-item i {
  font-size: 15px;
  min-width: 22px;
}
.navbar .nav-item.open > a {
  background: none !important;
}
.navbar .dropdown-menu {
  border-radius: 1px;
  border-color: #e5e5e5;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  left: -15px;
  margin: 0.425rem 0 0;
  background: #fffffff5;
}
.navbar .dropdown-menu a {
  color: #777;
  padding: 8px 20px;
  line-height: normal;
}
.navbar .dropdown-menu a:hover,
.navbar .dropdown-menu a:active {
  color: #333;
}

.navbar .badge {
  color: #fff;
  background: #f44336;
  font-size: 11px;
  border-radius: 20px;
  position: absolute;
  min-width: 10px;
  padding: 4px 6px 0;
  min-height: 18px;
  top: 5px;
}
.navbar .active a,
.navbar .active a:hover,
.navbar .active a:focus {
  background: transparent !important;
}
.navbar {
  background: #fffffff5;
  a {
    cursor: pointer;
  }
  .navbar-toggler {
    border: none;
  }
  .dropdown {
    .nav-link {
      font-weight: 400;
      font-size: 15px;
    }
    .dropdown-item {
      font-size: 15px;
      font-weight: normal;
    }
    svg {
      width: 20px;
    }
  }
}
@media (min-width: 1200px) {
  .form-inline .input-group {
    width: 300px;
    margin-left: 30px;
  }
}
@media (max-width: 1199px) {
  .form-inline {
    display: block;
    margin-bottom: 10px;
  }
  .input-group {
    width: 100%;
  }
}
@include responsive("large") {
  .navbar {
    padding: 4px 18px;
    .navbar-toggler-icon {
      width: 1em;
      height: 1em;
    }

    .dropdown-item {
      i {
        font-size: 14px;
      }
    }
    .nav-item {
      font-size: 14px;
    }
    .navbar-brand{
      font-size: 17px;
    }
    .dropdown {
      .nav-link {
        font-weight: 400;
        font-size: 13px;
      }
    }
  }
}
